<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Access Records Table</title>
</head>
<body>
    <h1>Access Records Table</h1>    
    {% if objects %}
    <table border="2pt">
        <thead>
            <th>Record Name</th>
        <th>Access Date</th>
        </thead>
        {% for obj in objects %}
        <tr>
            <td>{{obj.name}}</td>
            <td>{{obj.date}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>NO Data</h1>
    {% endif %}
    <table></table>
</body>
</html>